@mixin animate-none {
	animation: none;
}
@mixin animate-spin {
	animation: spin 1s linear infinite;

	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
}
@mixin animate-ping {
	animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;

	@keyframes ping {
		75%,
		100% {
			transform: scale(2);
			opacity: 0;
		}
	}
}
@mixin animate-pulse {
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

	@keyframes pulse {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0.5;
		}
	}
}
@mixin animate-bounce {
	animation: bounce 1s infinite;

	@keyframes bounce {
		0%,
		100% {
			transform: translateY(-25%);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}
		50% {
			transform: translateY(0);
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}
}
@mixin animate-flash {
	animation-name: flash 1s linear;

	@keyframes flash {
		from,
		50%,
		to {
			opacity: 1;
		}

		25%,
		75% {
			opacity: 0;
		}
	}
}
@mixin animate-back($side, $translate: 2000px) {
	@if $side == down {
		animation-name: back-in-down 1s linear;
	} @else if $side == up {
		animation-name: back-in-up 1s linear;
	} @else if $side == left {
		animation-name: back-in-left 1s linear;
	} @else {
		animation-name: back-in-right 1s linear;
	}

	@keyframes back-in-down {
		0% {
			transform: translateY(-$translate) scale(0.7);
			opacity: 0.7;
		}

		80% {
			transform: translateY(0px) scale(0.7);
			opacity: 0.7;
		}

		100% {
			transform: scale(1);
			opacity: 1;
		}
	}
	@keyframes back-in-left {
		0% {
			transform: translateX(-$translate) scale(0.7);
			opacity: 0.7;
		}

		80% {
			transform: translateX(0px) scale(0.7);
			opacity: 0.7;
		}

		100% {
			transform: scale(1);
			opacity: 1;
		}
	}
	@keyframes back-in-right {
		0% {
			transform: translateX($translate) scale(0.7);
			opacity: 0.7;
		}

		80% {
			transform: translateX(0px) scale(0.7);
			opacity: 0.7;
		}

		100% {
			transform: scale(1);
			opacity: 1;
		}
	}
	@keyframes back-in-up {
		0% {
			transform: translateY($translate) scale(0.7);
			opacity: 0.7;
		}

		80% {
			transform: translateY(0px) scale(0.7);
			opacity: 0.7;
		}

		100% {
			transform: scale(1);
			opacity: 1;
		}
	}
}
@mixin animate-back-down($translate: 200px) {
	animation-name: back-in-down 10s linear;

	@keyframes back-in-down {
		0% {
			transform: translateY(-$translate) scale(0.7);
			opacity: 0.7;
		}

		80% {
			transform: translateY(0px) scale(0.7);
			opacity: 0.7;
		}

		100% {
			transform: scale(1);
			opacity: 1;
		}
	}
}