.w-100 {
	width: 100%;
}
@mixin size-0 {
	height: 0px;
	width: 0px;
}
@mixin size-px {
	height: 1px;
	width: 1px;
}
@mixin size-05 {
	height: 0.125rem;
	width: 0.125rem;
}
@mixin size-10 {
	height: 0.25rem;
	width: 0.25rem;
}
@mixin size-15 {
	height: 0.375rem;
	width: 0.375rem;
}
@mixin size-20 {
	height: 0.5rem;
	width: 0.5rem;
}
@mixin size-25 {
	height: 0.625rem;
	width: 0.625rem;
}
@mixin size-30 {
	height: 0.75rem;
	width: 0.75rem;
}
@mixin size-35 {
	height: 0.875rem;
	width: 0.875rem;
}
@mixin size-40 {
	height: 1rem;
	width: 1rem;
}
@mixin size-50 {
	height: 1.25rem;
	width: 1.25rem;
}
@mixin size-60 {
	height: 1.5rem;
	width: 1.5rem;
}
@mixin size-70 {
	height: 1.75rem;
	width: 1.75rem;
}
@mixin size-80 {
	height: 2rem;
	width: 2rem;
}
@mixin size-90 {
	height: 2.25rem;
	width: 2.25rem;
}
@mixin size-100 {
	height: 2.5rem;
	width: 2.5rem;
}
@mixin size-110 {
	height: 2.75rem;
	width: 2.75rem;
}
@mixin size-120 {
	height: 3rem;
	width: 3rem;
}
@mixin size-140 {
	height: 3.5rem;
	width: 3.5rem;
}
@mixin size-160 {
	height: 4rem;
	width: 4rem;
}
@mixin size-180 {
	height: 4.5rem;
	width: 4.5rem;
}
@mixin size-200 {
	height: 5rem;
	width: 5rem;
}
@mixin size-240 {
	height: 6rem;
	width: 6rem;
}
@mixin size-280 {
	height: 7rem;
	width: 7rem;
}
@mixin size-320 {
	height: 8rem;
	width: 8rem;
}
@mixin size-360 {
	height: 9rem;
	width: 9rem;
}
@mixin size-400 {
	height: 10rem;
	width: 10rem;
}
@mixin size-440 {
	height: 11rem;
	width: 11rem;
}
@mixin size-480 {
	height: 12rem;
	width: 12rem;
}
@mixin size-520 {
	height: 13rem;
	width: 13rem;
}
@mixin size-560 {
	height: 14rem;
	width: 14rem;
}
@mixin size-600 {
	height: 15rem;
	width: 15rem;
}
@mixin size-640 {
	height: 16rem;
	width: 16rem;
}
@mixin size-720 {
	height: 18rem;
	width: 18rem;
}
@mixin size-800 {
	height: 20rem;
	width: 20rem;
}
@mixin size-960 {
	height: 24rem;
	width: 24rem;
}
