@mixin transition-none {
	transition-property: none;
}
@mixin transition-all($miliseconds: 150ms) {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: $miliseconds;
}
@mixin transition($miliseconds: 150ms) {
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
		backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: $miliseconds;
}
@mixin transition-colors($miliseconds: 150ms) {
	transition-property: color, background-color, border-color,
		text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: $miliseconds;
}
@mixin transition-opacity($miliseconds: 150ms) {
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: $miliseconds;
}
@mixin transition-shadow($miliseconds: 150ms) {
	transition-property: box-shadow;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: $miliseconds;
}
@mixin transition-transform($miliseconds: 150ms) {
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: $miliseconds;
}
