
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
button,
label {
  font-family: normal !important;
  color: black;
}

a:hover {
  color: black;
}
h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

h5 {
  font-size: 1.1rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}