$spacing-0: 0px;
$spacing-px: 1px;
$spacing-05: 0.125rem;
$spacing-10: 0.25rem;
$spacing-15: 0.375rem;
$spacing-20: 0.5rem;
$spacing-25: 0.625rem;
$spacing-30: 0.75rem;
$spacing-35: 0.875rem;
$spacing-40: 1rem;
$spacing-50: 1.25rem;
$spacing-60: 1.5rem;
$spacing-70: 1.75rem;
$spacing-80: 2rem;
$spacing-90: 2.25rem;
$spacing-100: 2.5rem;
$spacing-110: 2.75rem;
$spacing-120: 3rem;
$spacing-140: 3.5rem;
$spacing-160: 4rem;
$spacing-180: 4.5rem;
$spacing-200: 5rem;
$spacing-240: 6rem;
$spacing-280: 7rem;
$spacing-320: 8rem;
$spacing-360: 9rem;
$spacing-400: 10rem;
$spacing-440: 11rem;
$spacing-480: 12rem;
$spacing-520: 13rem;
$spacing-560: 14rem;
$spacing-600: 15rem;
$spacing-640: 16rem;
$spacing-720: 18rem;
$spacing-800: 20rem;
$spacing-960: 24rem;
