$primary: hsl(105, 38%, 37%);
$primary-light: hsl(105, 38%, 64%);
$primary-dark: hsl(105, 38%, 16%);

$secondary: hsl(221, 56%, 27%);
$secondary-light: hsl(221, 56%, 56%);
$secondary-dark: hsl(221, 56%, 16%);

$gray-50: hsl(210, 40%, 98%);
$gray-100: hsl(195, 7%, 89%);
$gray-200: hsl(165, 4%, 79%);
$gray-300: hsl(140, 2%, 70%);
$gray-400: hsl(120, 1%, 60%);
$gray-500: hsl(90, 1%, 51%);
$gray-600: hsl(60, 1%, 42%);
$gray-700: hsl(60, 1%, 32%);
$gray-800: hsl(30, 2%, 23%);
$gray-900: hsl(0, 0%, 13%);
$gray-950: hsl(0, 0%, 4%);