.sign-in {
	display: grid;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	.container {
		width: 450px;

		h1 {
			color: $Primary;
			font-size: 1.5rem;
			text-align: center;
			margin-bottom: 32px;
		}

		form {
			display: grid;
			gap: 20px;

			.input-box {
				display: flex;
				align-items: center;
				width: 100%;
				background: #fff;

				input {
					position: relative;
					box-sizing: border-box;
					border: 1px solid $Secondary;
					border-radius: 4px;
					outline: none;
					padding: 1.5rem 0.5rem;
					cursor: text;
				}

				label {
					position: absolute;
					cursor: text;
					padding: 0 0.5rem;
					background: #fff;

					font-size: 1em;
					color: $Secondary;

					transform: translate(0.5rem, -1.55rem);
				}
			}

			.input-checkbox {
				display: flex;
				align-items: center;
				gap: 8px;

				input {
					box-sizing: border-box;
					padding: 0;
					border: 1px solid $Secondary;
					border-radius: 4px;
					transition: 0.2s all ease-in-out;
					cursor: pointer;

					display: flex;
					justify-content: center;
					align-items: center;

					height: 1.15rem;
					width: 1.15rem;

					&:checked {
						background-color: $color2;
						border-color: $color2;
					}

					&:checked::after {
						content: '✓';
						font-size: 0.75em;
						font-weight: bold;
						color: $Fiveth;
					}
				}

				label {
					cursor: pointer;

					font-size: 1em;
					font-weight: 400;
					color: $Secondary;
				}
			}

			button {
				border: none;
				border-radius: 4px;
				background: $color12;
				padding: 0.75rem;
				width: 100%;
				cursor: pointer;

				font-size: 1em;
				color: $Fiveth;

				transition: 0.2s all ease-in-out;

				&:hover {
					background-color: $color12half;
				}
			}
		}

		nav {
			margin-top: 16px;

			display: flex;
			justify-content: space-between;
			align-items: center;

			a {
				color: $color12half;
				font-size: 1em;
				letter-spacing: 0em;

				transition: 0.2s all ease-in-out;

				&:hover {
					color: $color12secondhalf;
				}
			}
		}
	}
}
