.card-header{
    padding: 50px 0px;
    height: 400px;
    width: 100%;
    max-width: 1280px;
    gap: 5px;
 
    .ffsolutec{
        font-size: 4rem;
        color: white;
        text-transform: uppercase;
        font-weight: 900;
        width: 300px
    }
    .img-background-card-header{
        width: 260px;
    }
    .redirect-links{
        width: 100%;
        gap: 0;
        .redirect-first{
            width: auto;
            font-size: 1.5rem;
        color: white;
        text-transform: uppercase;
        font-weight: 900;
        }
        .redirect-button{
            color: white;
            font-size: 0.875rem;
            font-weight: 700;
            text-align: center;
            
            border: 1px solid white;
            border-radius: 10px;
            text-wrap: nowrap;
            background: white;
            height: 30px;
            width: 35px;
            &:hover {
              background: white;
              color: black;
              cursor: pointer;
            }   
        }
        .redirect-second{
            width: 100%;
            font-size: 1rem;
            color: white;
            text-transform: uppercase;
            font-weight: 900;
        }
    }
}

@media (max-width: 1280px) {
    .card-header{
        padding: 50px;
        .ffsolutec{
            font-size: 3rem;
        }
    }
   
}