.menu{
    width: 100%;
    border-bottom: 0.5px solid rgb(255, 255, 255);
    height: 100px;
    .links{
        width: 100%;
        max-width: 1280px;
        .logo{
            width: 100px;
        }
        .list-links{
            border-left: 0.5px solid rgb(255, 255, 255);
            border-right: 0.5px solid rgb(255, 255, 255);
            width: 30%;
            gap:  25px;
            height: 100px;
            padding: 10px;
            
            .link{
                color: white;
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 600;
                
            }
            .link:hover{
                color: rgb(255, 212, 85);
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 600;
                
            }
           
        }
        .contact-me{
                
            color: white;
            font-size: 0.875rem;
            font-weight: 700;
            line-height: 1.4375rem;
            text-align: center;
            padding: 10px 40px;
            border: 1px solid white;
            border-radius: 10px;
            text-wrap: nowrap;
            background: none;
            &:hover {
              background: white;
              color: black;
              cursor: pointer;
            }
          
          
    }
    }
}