.layout{
    height: 100vh;
    overflow: scroll;
   width: 100%;
    

    background-size: cover;
    background-repeat: no-repeat;
    scrollbar-width: none;
    /* Para ocultar a barra de rolagem no Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    

  


}

